.catalog_btn {
    height: 49px;
    width: 125px;
    border: none;
    background-color: #339933;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
